.App {
  text-align: center;
  margin: 50px;
  background-color: aqua;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  /* background-color: #1864fb; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: left;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
